@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: white;
 display: flex;
 flex-direction: row;
justify-content: center;
width: 100%;
}
div{
  width: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;
}

h1{
align-self: center;
  margin-top: 5px;
  font-size: larger;
  margin-bottom: 10px;
 
}
form{
  background-color: rgba(24, 232, 232, 0.237);
  width: 30%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 10px;
  
}
input{

  width: 70%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 2px;
  height: 20%;
  font-size: 10px;
  padding-left: 5px;
  outline: none;
  padding-right: 10px;
}
span{
  margin: 0 auto;
  color: red;
  font-size: 10px;
}
.button{
  background-color: black;
  color: white;
}